/* --------General-------- */
html {
  box-sizing: border-box;

  background-color: #ffe500;
  line-height: 1.5;
  font-family: Gergia, Sigmar one;
}

*, *::before, *::after {
  box-sizing: inherit;
}
